@import url('https://fonts.googleapis.com/css?family=Lobster');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container-menu{
	right: 160px;
	top: 50px;
}

/* portada */

.container-portada{
	width: 100%;
	height: 100%;
	background-image: url(../img/rt.jpg); 
	background-size: 130%; 
	animation: movimiento 10s infinite linear alternate;
	position: relative;
}

@keyframes movimiento{
	from{
		background-position: bottom left;
		}to{
		background-position: top right;
		}
}

.capa-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(left, black, gray);
	opacity: 0.7;
}

.container-details{
	width: 100%
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.details{
	width: 100%;
	max-width: 500px;
	position: relative;
	top: 20px;
	left: 150px;
	color: white;
}

.details h1{
	font-size: 100px;
	font-weight: 100;
	position: relative;
	font-family: 'Lobster',cursive;
	top: 75px;
}

.details p{
	font-size: 30px;
	font-weight: 50;
	position: relative;
	font-family: 'Lobster',cursive;
	top: 80px;
}

.container {
	width: 80%;
	height: 80%;
	position: relative;
	background: rgba(26, 188, 156, 0.3);
}
table{
	border-color: black;
}
